[submodule "modules/2_learning_prototypes/MealyLearner"]
	path = modules/2_learning_prototypes/MealyLearner
	url = git@github.com:Jojeker/MealyLearner.git
[submodule "modules/2_learning_prototypes/MealyMachine"]
	path = modules/2_learning_prototypes/MealyMachine
	url = git@github.com:Jojeker/MealyMachine.git
[submodule "modules/2_learning_prototypes/LLVMGlobalInstrumentation"]
	path = modules/2_learning_prototypes/LLVMGlobalInstrumentation
	url = git@github.com:Jojeker/LLVMGlobalInstrumentation.git
[submodule "modules/6_reproducers/5GBaseChecker"]
	path = modules/6_reproducers/5GBaseChecker
	url = git@github.com:Jojeker/5GBaseChecker.git
[submodule "modules/3_naive_fuzzing/ASN1-Fuzzing-Scripts"]
	path = modules/3_naive_fuzzing/ASN1-Fuzzing-Scripts
	url = git@github.com:Jojeker/ASN1-Fuzzing-Scripts.git
