[submodule "modules/2_learning_prototypes/MealyLearner"]
	path = modules/2_learning_prototypes/MealyLearner
	url = git@github.com:Jojeker/MealyLearner.git
[submodule "modules/2_learning_prototypes/MealyMachine"]
	path = modules/2_learning_prototypes/MealyMachine
	url = git@github.com:Jojeker/MealyMachine.git
[submodule "modules/2_learning_prototypes/LLVMGlobalInstrumentation"]
	path = modules/2_learning_prototypes/LLVMGlobalInstrumentation
	url = git@github.com:Jojeker/LLVMGlobalInstrumentation.git
[submodule "modules/6_reproducers/5GBaseChecker"]
	path = modules/6_reproducers/5GBaseChecker
	url = git@github.com:Jojeker/5GBaseChecker.git
[submodule "modules/3_naive_fuzzing/ASN1-Fuzzing-Scripts"]
	path = modules/3_naive_fuzzing/ASN1-Fuzzing-Scripts
	url = git@github.com:Jojeker/ASN1-Fuzzing-Scripts.git
[submodule "modules/6_reproducers/Shannon-S5-Mini-Reproducer"]
	path = modules/6_reproducers/Shannon-S5-Mini-Reproducer
	url = https://github.com/Jojeker/Shannon-S5-Mini-Reproducer
[submodule "modules/3_naive_fuzzing/pycrate-nr-fuzz"]
	path = modules/3_naive_fuzzing/pycrate-nr-fuzz
	url = git@github.com:Jojeker/pycrate-nr-fuzz.git
[submodule "modules/5_rehosting/FirmWire"]
	path = modules/5_rehosting/FirmWire
	url = https://github.com/Jojeker/FirmWire
[submodule "modules/4_active_fuzzing/open5gs"]
	path = modules/4_active_fuzzing/open5gs
	url = git@github.com:Jojeker/open5gs.git
	branch = fuzz-instrumentation
[submodule "modules/1_simulated_setups/UERANSIM"]
	path = modules/1_simulated_setups/UERANSIM
	url = git@github.com:Jojeker/UERANSIM.git
